*{
    margin-top:0px;
}

body{
    /*background-color: aqua;
    */
}

@keyframes animatie_butoane{
    0%{
        font-size:20px;
    }
    
    100%{
        font-size:25px;
    }
}

a:link, 
a:active,
a:visited{
    color:rgba(255, 255, 255, 0.829);
    text-decoration:none;
    

}

a:hover{
    color:rgb(156, 0, 0);
    text-decoration:none;
    /*transition:border-bottom 0.2s;*/
    animation: animatie_butoane 0.5s;
}

body{
    /*background-color:rgba(255, 145, 0, 0.932); */
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
}
header{
    background-size:cover;
    background-position:center;
    height:100vh;
    position:relative;
    margin-top:0px;
    margin-bottom:0px;
    background-color: rgba(248, 240, 155,0);
    background-image: linear-gradient(to right, rgba(255, 69, 0,0.7),rgba(255, 140, 0,0.7)),url("Charities.jpg");
}
/*
nume locatie data incepput sf capacitate comentarii
*/

nav div{ 
    display:block;
    background-color: rgba(248, 240, 155, 0);
    height: 3rem;
    /*float:center;*/
    margin-top:0rem;
    width:100%;   
    position: fixed; 
    top:0;
    
    z-index:9999;
    
  
}
nav a{
    font-size:20px;
}
nav div li{
    
    display:inline-block;
    margin-left: 10%;
    padding-top:10px;   
}
.welcome {
    /*display:block;*/
    position:absolute;
    width:1140px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:rgba(255, 255, 255, 0.788);
    font-size:30px;
}